body
{
    font-family: 'Courier New', Courier, monospace;
    color: darksalmon;
}
div
{
    border: 10px solid mediumspringgreen;
    display: inline-block;
    width: 378px;
    min-height: 100px;
}